/* General Styling */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #FFEFFC; 
    color: #333;
  }
  .hero-section {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    height: 60vh;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: left;
    padding: 50px;
    position: relative;
  }
  
  .hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 0.2;
  }
  
  .hero-content {
    max-width: 600px;
    z-index: 1; 
  }
  
  .hero-content h1 {
    font-size: 4rem; 
    margin-bottom: 20px;
    color: #FF69B4;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .hero-content p {
    font-size: 1.1rem; 
    margin-bottom: 30px;
    color: #FFF;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }
  
  .shop-now-button {
    padding: 15px 30px;
    background-color: #FF69B4;
    color: #fff;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    font-size: 0.8rem; 
    transition: background-color 0.3s ease;
  }
  
  .shop-now-button:hover {
    background-color: #FF1493;
  }
  

.categories-section {
  padding: 50px 20px;
  text-align: center;
}

.categories-section h2 {
  margin-bottom: 30px;
  font-size: 2rem;
}

.categories {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.category {
  flex: 1 1 30%;
  margin: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.category:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.category img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.category p {
  font-size: 1.2rem;
  color: #333;
}

/* Featured Products Section */
.featured-products-section {
  padding: 50px 20px;
  background-color: #f0f0f0;
  text-align: center;
}

.featured-products-section h2 {
  margin-bottom: 30px;
  font-size: 2rem;
}

.featured-products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-card {
  flex: 1 1 30%;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.product-card img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.product-card p {
  font-size: 1rem;
  color: #333;
  margin: 5px 0;
}

  