/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFEFFC; 
  padding: 10px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  font-style: italic;
}

.logo img {
  height: 50px;
  width: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 10px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #FF1493;
  border-radius: 5px;
}

.nav-links .new {
  position: relative;
}

.nav-links .new span {
  color: #FF1493;
  font-size: 0.75rem;
  position: absolute;
  top: -10px;
  right: -20px;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-icons a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: color 0.3s ease;
}

.nav-icons a:hover {
  color: #e782bfc7;
}

.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #fff;
}

.search-box input {
  border: none;
  outline: none;
  padding: 5px;
}

.search-box button {
  background: none;
  border: none;
  cursor: pointer;
  color: #ccc;
}

.search-box button:hover {
  color: #FF1493;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.menu li {
  position: relative;
}

.menu a {
  text-decoration: none;
  padding: 10px 10px;
  display: block;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu a:hover {
  background-color: #ffd7ef;
  color: #FF1493;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  min-width: 200px;
  z-index: 1000; 
  border-radius: 5px;
  overflow: hidden;
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;

}

.dropdown-content a {
  padding: 12px 16px;
  color: #333;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease, color 0.3s ease;
  z-index: 10;
}

.dropdown-content a:hover {
  background-color: #e68bbb;
  color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
  pointer-events: auto;
  z-index: 10;
  visibility: visible;
}
