@keyframes pulse {
    0% {
      transform: scale(1);
      box-shadow: 0 0 20px #FFEFFC;
    }
    50% {
      transform: scale(1.05);
      box-shadow: 0 0 40px #FFEFFC;
    }
    100% {
      transform: scale(1);
      box-shadow: 0 0 20px #FFEFFC;
    }
  }
  
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInScale {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFEFFC; 
    position: relative;
    overflow: hidden;
  }
  
  .loading-logo {
    width: 400px;
    height: 300px;
    border-radius: 15px;
    z-index: 10;
    animation: fadeInScale 1.5s ease-in-out;
  }
  
  .heart {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #ea99c8f0;
    transform: rotate(-45deg);
    animation: float 3s infinite ease-in-out;
    opacity: 0.5;
  }
  
  .heart:before,
  .heart:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ff81caf0;
  }
  
  .heart:before {
    top: -25px;
    left: 0;
  }
  
  .heart:after {
    left: 25px;
    top: 0;
  }
  
  .glowing-heart {
    animation: pulse 0.5s infinite;
    filter: blur(10px);
    opacity: 0.7;
  }
  
  .flip-horizontal {
    transform: rotate(-90deg) scaleX(-1);
  }
  
  .flip-vertical {
    transform: rotate(-45deg) scaleY(-1);
  }
  